/* This file will hold the main styles for your website. */

html, body, #page-wrapper-inner { height: 100%; }
h1, h2, h3, h4, h5, h6 { font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; }
#page-wrapper { min-height: 100%; background: #666 url(../images/fly-stripe-bg.png) repeat 0 0; }
#page-wrapper-inner {  }
#zone-content { background: transparent url(../images/light-container-bg.png) repeat 0 0 fixed; }
.region-inner { padding: 10px 0; }

.section-header { color: #fff; }
.section-header a { color: #FFF; }

fieldset { min-height: 30px; position: relative; }
.form-wrapper { background: transparent url(../images/dark-container-bg.png) repeat 0 0; color: #fff; }
.fieldset-legend { color: #fff; display: block; position: absolute; left: 0; right: 0; top: 0; padding: 10px; z-index: 1; }
legend a { display: block; }
legend a:link, legend a:visited { color: #fff; }
.fieldset-wrapper { padding: 40px 10px 10px; }

.front-action-button:link, .front-action-button:visited { float: left; display: block; padding: 10px; background-color: #09F; text-decoration: none; color: #fff; }
.front-action-button:hover { background-color: #06F; }